{% extends "account/account.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{ request.user.first_name }} {{ request.user.last_name }} Bank Account: {{ account.accountNumber}}</h1>
<br>
{% if account %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Deposit Money</legend>
        <br>
        {{ form|crispy }}
    </fieldset>
    <br>
    <div class="form-group">
        <button class="btn btn-outline-info btn-lg" type="submit">Confirm</button>
    </div>
</form>
{% else %}
<h1>You don't have Bank Account yet. Please contact administrator.</h1>
{% endif %}
{% endblock %}